@model IEnumerable<PhotoShare.Web.Models.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>User stream</h2>

<div class="user-photos">
    @foreach (eCademy.NUh114.PhotoShare.Web.Models.Photo photo in Model)
    {
        <a href="~/Photo/View/@photo.Id">
            <img src="~/Images/@photo.Id?thumb=150" alt="@photo.Comment" title="@photo.Comment" />
        </a>
    }
</div>