@using PhotoShare.Web.Models
@model Photo[]

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo<strong>Share</strong></h1>
    <p class="lead">This is the world's bigges PhotoSharings database. You can share all your photos with everyone or just your friends.</p>
    <input type="button" value="Learn more &raquo;" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("About", "Home")'" /> 
</div>

@if (Request.IsAuthenticated)
{
    <div class="image-container">
        @foreach (Photo photo in Model)
        {
            <div class="grid-image">
                <a href="~/Photo/View/@photo.Id">
                    <img src="~/Images/@photo.Id?thumb=150" alt="@photo.Comment" title="@photo.Comment" />
                </a>
            </div>
        }
    </div>
}
else
{
<div class="row">
    <div class="col-md-4">
        <h2>Getting started here</h2>
        <p>
            You are one click away for joining the worlds bigges PhotoShaering community.
        </p>
        <input type="button" value="Join &raquo;" class="btn btn-default" onclick="location.href='@Url.Action("Register", "Account")'" />
    </div>
</div>
}

        @*<div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </div>*@
   